@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background-color: #2F343A;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
P {
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  text-decoration: none;
  list-style: none;
}

.link {
  text-decoration: none;
  list-style: none;
}

.header {
  background-color: #393F47;
}

.header_container {
  display: flex;
  align-items: center;
  text-align: center;
}

.header_icon {
  fill: #C8A35F;
}

.header_icon:hover, :focus {
  fill: #2F343A;
}

.header_nav {
  margin-left: auto;
  margin-right: auto;
}

.header_list {
  display: flex;
  gap: 90px;
}

.header_nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header_nav-link:hover {
  color: #C8A35F;
}

.header_nav-link:focus {
  color: #C8A35F;
}

.header_sec {
  display: flex;
  gap: 10px;
}

.header_sec-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C8A35F;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header_sec-link:hover, :focus {
  color: #987330;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  padding-top: 155px;
  padding-bottom: 200px;
  text-align: center;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F343A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1.3636363636;
  text-transform: uppercase;
  color: #ffffff;
}

.hero_btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #c8a35f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 60px;
  border: none;
  padding: 15px 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_btn:hover {
  background-color: #987330;
}

.hero_border {
  padding: 30px 10px;
  border: 2px solid #c8a35f;
}

.car_cards {
  display: flex;
}

.card {
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-family: arial;
  background-color: #393F47;
  border-radius: 10px;
}

img {
  border-radius: 5px 5px 0 0;
}

.reno_img {
  width: 400px;
  height: 250px;
}

.reno_card {
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  margin-top: 166px;
  margin-right: auto;
  padding-bottom: 12px;
  width: 400px;
  background-color: #393F47;
  border-radius: 5px 5px 5px 5px;
}

.reno_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 1.2222222222;
  text-transform: uppercase;
  color: #C8A35F;
  margin-top: 10px;
}

.reno_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.5625;
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
}

.faw_img {
  width: 400px;
  height: 250px;
}

.faw_card {
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2);
  margin-top: 166px;
  margin-left: auto;
  padding-bottom: 12px;
  width: 400px;
  background-color: #393F47;
  border-radius: 5px 5px 5px 5px;
}

.services {
  margin-top: 200px;
}

.serv_head {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
}

.serv_head::before {
  content: " ";
  background: #C8A35F;
  width: 100px;
  height: 6px;
  /* располагаем линию сверху от текста */
  top: -15px;
  /* включаем абсолютное позиционирование относительно блока с relative */
  position: absolute;
}

.serv_list {
  column-count: 2;
  margin-top: 60px;
}

.serv_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1.2222222222;
  text-transform: uppercase;
  color: #ffffff;
}

.serv_link {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #393F47;
  margin-bottom: 25px;
  margin-left: 25px;
}

.serv_plus {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* #F2F2F2 */
  color: #F2F2F2;
  opacity: 0.8;
}

.about {
  margin-top: 200px;
}

.about_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
  margin-left: 900px;
}

.about_title::before {
  content: " ";
  background: #C8A35F;
  width: 100px;
  height: 6px;
  /* располагаем линию сверху от текста */
  top: -15px;
  /* включаем абсолютное позиционирование относительно блока с relative */
  position: absolute;
}

.about_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.2222222222;
  text-transform: uppercase;
  margin-top: 50px;
  color: #ffffff;
  opacity: 80%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 490px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal {
    width: 95%;
    max-width: 450px;
    max-height: 100%;
    max-height: 620px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    width: 95%;
    max-width: 450px;
    max-height: 95%;
    max-height: 609px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 95%;
    max-width: 450px;
    max-height: 95%;
    max-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 490px;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button__button:hover {
  fill: #2196f3;
}

.form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.form__area {
  padding-bottom: 20px;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field label:focus-within .input,
.form__field label:hover > .input {
  border: 1px solid #2196f3;
}

.form__field label {
  position: relative;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
}

.form__input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__input {
    width: 370px;
    height: 120px;
  }
}

.form__field {
  position: relative;
}
.form__field__input:active,
.form__field :hover,
.form__field :focus {
  outline: 0;
  outline-offset: 0;
}
.form__field__icon:hover {
  fill: #2196f3;
}
.form__field__input:hover {
  fill: #2196f3;
  border-color: #2196f3;
}
.form__field__input:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.form__field:focus-within > .form__icon {
  fill: #2196f3;
  border-color: #2196f3;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  width: 100%;
  padding: 16px 15px;
  height: 120px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__coment {
    width: 370px;
    height: 120px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .form__coment {
    width: 100%;
    height: 90px;
  }
}
.form__coment__coment:hover {
  border-color: #2196f3;
}
.form__coment__coment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.option {
  display: block;
  margin-bottom: 0.5em;
}

.modal-btn {
  cursor: pointer;
  display: block;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_close-btn {
  font-size: 18px;
}

.modal__button-send {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #c8a35f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 60px;
  border: none;
  padding: 15px 40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-send:hover :focus {
  background-color: #987330;
}

.canculator {
  padding-left: 180px;
  padding-top: 80px;
}

.canculator__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
  margin-left: auto;
}

.canculator__title::before {
  content: " ";
  background: #C8A35F;
  width: 100px;
  height: 6px;
  /* располагаем линию сверху от текста */
  top: -15px;
  /* включаем абсолютное позиционирование относительно блока с relative */
  position: absolute;
}

.calcul__about {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: auto;
}

.calcul__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 150px;
  height: 30px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .calcul__input {
    width: 370px;
    height: 120px;
  }
}/*# sourceMappingURL=main.css.map */