.canculator { 
    padding-left: 180px;
    padding-top: 80px;
}

.canculator__title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        position: relative;
        color: #ffffff;
    
        margin-left: auto;
}

.canculator__title::before {
    content: " ";
    background: #C8A35F;
    width: 100px;
    height: 6px;
    /* располагаем линию сверху от текста */
    top: -15px;
    /* включаем абсолютное позиционирование относительно блока с relative */
    position: absolute;
}

.calcul__about {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 49px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ffffff;
        
        margin-right: auto;
}

.calcul__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 150px;
    height: 30px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 370px;
        height: 120px;
    }
}
